{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>첫 화면</title>
  <script src="{%static 'hello.js' %}"></script>
</head>

<body class="container">
  <!-- {% for msg in messages %} -->



  {% for photo in object_list %}
  <div class="photo_container">
    <p>
      <a href="{% url 'photos:view_photo' pk=photo.pk %}">
      <img src="{{photo.image.url}}"
    </p>
  </div>
  {% empty %}
  <p>게시물이 없네요</p>
  {% endfor %}


</body>
  <p>첫 화면입니다.</p>
</body>
</html>
